<h3 class="center-text">Shopify Liquid Basics</h3>

<h4>White Space</h4>
{%- assign my_variable = "Hello World" -%}
<p>{{ my_variable }}</p>

<h4>Types</h4>
 {% assign name= "Musa" %}
 <p> The result is string : {{ name }}</p>
 
 {%  assign number = 12 %} 
 <p>The number is {{number}}</p>

 {% assign foo = false %}
 {% assign  koo = true %}

<p>The Value of foo {{foo}}</p>
<p>The Value of koo {{koo}} </p>
<p><br></p>

<h4>Array</h4>

{% assign numbers_string = "1,2,3,4,5,6,7,8,9,10" %}
{% assign number = numbers_string | split: "," %}

<p>Numbers Are: </p>
<ul>
{% for num in number %}
<li>{{ num }}</li>
{% endfor %}
</ul>

<p>Names Are: </p>
{% assign names_string = "Musa,Mahid,Mahbub,Monower" %}
{% assign names = names_string | split: "," %}

<ul>
    {% for name in names %}
        <li>{{name}}</li>
    {% endfor %}
</ul>

<p><br></p>



{%  style  %}  
    .center-text {
        text-align: center
    }
{% endstyle %}