{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="product-images">
  {% for image in product.images %}
    {% render 'image', class: 'product-image', image: image %}
  {% endfor %}
</div>

<div class="product-info">
  <h1>{{ product.title }}</h1>
  <p>{{ product.price | money }}</p>
  <p>{{ product.description }}</p>
</div>

<div class="product-form">
  {% form 'product', product %}
    {% assign current_variant = product.selected_or_first_available_variant %}

    <select name="id">
      {% for variant in product.variants %}
        <option
          value="{{ variant.id }}"
          {% if variant == current_variant %}
            selected="selected"
          {% endif %}
        >
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    <input type="text" name="quantity" min="1" value="1">

    <input type="submit" value="Add to cart">
    {{ form | payment_button }}
  {% endform %}
</div>


<h2 class="center-text">Hello From Product</h2>
<h3>Operator</h3>
<p><br></p>
{% assign price  = 50 %} 
{% assign product_title = product.title %} 
{% assign tags = "new,hot,discount" |  split: "," %}

<!-- Equal -->
{% if product_title == "Awesome Shoes" %}
  <p>Title is exactly Awesome Shoes <br></p>
{% endif %}

<!-- Not equal -->
{% if product_title != "Awesome Shoes" %}
  <p>There is NOT Awesome Shoes <br></p>
{% endif %}

<!-- Greater than -->

{% if price > 50 %}
  <p>The Price is Greater Than 50 <br> </p>
{% endif %}

<!-- Less than -->

{% if price < 50 %}
  <p>The Price is Less than 50 <br></p>
{% endif %}

<!-- Greater than or equal -->

{% if price >= 50 %}
  <p> Price is greater than or equal to 50<br></p>
{% endif %}

<!-- Less than or equal -->
{% if price <= 50 %}
   <p> Price is less than or equal to 50<br></p>
{% endif %}

<!-- Contains (string or array) -->
{% if product.title contains "Shoes" %}
  <p> Title contains "Shoes"<br></p>
{% endif %}

{% if tags contains "hot" %}
  <p>Tags contain "hot"<br></p>
{% endif %}

<!-- AND -->
{% if price > 30 and product_title == "Awesome Shoes" %}
  <p>Both conditions true (price > 30 AND title is Awesome Shoes)<br></p>
{% endif %}


<!-- OR -->
{% if price > 100 or product_title == "Awesome Shoes" %}
  <p>At least one condition true (price > 100 OR title is Awesome Shoes)<br></p>
{% endif %}

{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}

{%  style  %}  
    .center-text {
        text-align: center
    }
{% endstyle %}